/* mobile overrides */
:root {
    --font-size-h3: clamp(2rem, 4vw, 4rem);
    --font-size-p: clamp(.85rem, 1vw, 1.75rem);
    --font-size-h3: clamp(1.75rem, 3vw, 2.35rem);
}

/* logo larger on mobile */
.logo-header a {
    width: 30vw
}

/* undo parallax for mobile */
.parallax-container.small-parallax, .parallax-container.header-parallax {
    height: 100%;
    overflow: visible;
}
.parallax-container .parallax-item {
    position: relative;
    transform: none !important;
    min-height: 0 !important;
    width: 100% !important;
    height: auto !important;
    min-width: 0 !important;
}

/* top paragraph of landing */
.centered-text .section-content{
    margin: 5% 10%;
}

/* reorder left/right image section */

.article-paragraph-with-image{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
.article-paragraph-with-image .section-content{
    padding: 0;
    margin: 5% 10%;
    align-self: flex-start;
}

.article-paragraph-with-image .section-content p{
    padding-right: 0;
}

/* logo overlay styling */
.image-text-overlay-container .logo{
    width: 80%;
}
.image-text-overlay-container{
    top: 15%;
    left: 5%;
    gap: 1vw;
}
.image-text-overlay-container hr{
    width: 80%;
}

/* purchase restyling*/

.purchase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 ;
}

.purchase-bottle:not(:last-child) {
    border: none;
}
.purchase-bottle:not(:first-child) {
    border: none;
}
.desktop-only{
    display: none;
}
.purchase-bottle img{
    width: 30vw;
}
.horizontal-lines hr{
    background-color: black;
    height: 1px;
    width: 80vw;
    margin: 1%;
}
p.purchase-p{
    margin: 2.5%;
}
.mobile-only{
    display: initial;
}
.mobile-off{
    display: none !important;
}
a.bottle-link{
    margin-bottom: 0;
}
.purchase-here{
    width: fit-content;
    padding: 2.5%;
    padding-left: 0;
}

/* articles */

main.article{
    margin: 0 7.5%;
}
footer.site-footer-articles{
    margin: 0 7.5%;
    margin-bottom: 5%;
}
.article-lines{
    margin: 5%;
}

.article-lines.page-breaker{
    left: -2.5%;                      /* escape main's left margin */
    width: calc(100% + 5%);         /* add back left + right margins */
}

/* article footer */

.articles-grid {
    grid-template-columns: (2, 1fr);
    gap: 1vw;
}
@media (max-width: 500px) {
    .articles-grid {
        grid-template-columns: 1fr;
    }
}
.articles-grid a{
    box-sizing: border-box;
    padding: 5%;
}

/* modify line height for h3 landing page */
.article-paragraph-with-image h3 {
    line-height: 100%;
}

.article-header h1{
    font-size: clamp(2.5rem, 6vw, 5rem);
}
.article-header{
    margin-left: 7.5%;
    margin-right: 7.5%;
}
/* arrows larger on mobile */
.right-pointing-arrow {
    width: clamp(1rem, 4vw,1rem);
    margin-left: 1.5vw;
    margin-top: -0.5vw;
}